@model Studenten_Volg_Systeem.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Firstname)*@
            Voornaam
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Firstname)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Middelname)*@
            Tussen Naam
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Middelname)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Lastname)*@
            Achternaam
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lastname)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Adress)*@
            Adress
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Adress)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Course)*@
            Opleiding
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Pas Aan</a> |
    <a asp-action="Index">Terug Naar Studenten</a>
</div>
